
<!DOCTYPE html>
<html>
	<title> Welcome! </title>
</head>
<span id="type-text"> Welcome to Lynx, {{ name }}</span>
<span class="blinking-cursor">_</span>

<style type="text/css">
	body
  min-height: 100vh
  padding: 0 10%
  background-color: #111
  color: #FFF
  font-size: 4em
  display: flex
  align-items: center

.blinking-cursor
  pointer-events: none
  user-select: none
  animation: blink 1s steps(2, start) infinite
  
  @keyframes blink
    to
      visibility: hidden
</style>
<script type="text/javascript">
	
function init () {

  wait(1000).then(() => {
    clearText()
    typeText('Hello there, ').then(typeLoop)
  })
  
  function typeLoop() {
    typeText('{{ name }}')
      .then(() => wait(2000))
      .then(() => removeText('{{ name }}'))
      .then(() => typeText(' click the link below to enter'))
      .then(() => wait(2000))
      .then(() => removeText('click the link below to enter'))
      .then(typeLoop)
  }
  
}

const elementNode = document.getElementById('type-text')
let text = ''

function updateNode () {
  elementNode.innerText = text
}

function pushCharacter (character) {
  text += character
  updateNode()
}

function popCharacter () {
  text = text.slice(0, text.length -1)
  updateNode()
}

function clearText () {
  text = ''
  updateNode()
}


function wait (time) {
  if (time === undefined) {
    const randomMsInterval = 100 * Math.random()
    time = randomMsInterval < 50 ? 10 : randomMsInterval
  }
  
  return new Promise(resolve => {
    setTimeout(() => {
      requestAnimationFrame(resolve)
    }, time)
  })
}

function typeCharacter (character) {
  return new Promise(resolve => {
    pushCharacter(character)
    wait().then(resolve)
  })
}

function removeCharacter () {
  return new Promise(resolve => {
    popCharacter()
    wait().then(resolve)
  })
}

function typeText (text) {
  return new Promise(resolve => {
    
    function type ([ character, ...text ]) {
      typeCharacter(character)
        .then(() => {
          if (text.length) type(text)
          else resolve()
        })
    }
    
    type(text)
  })
}

function removeText ({ length:amount }) {
  return new Promise(resolve => {
    
    function remove (count) {
      removeCharacter()
        .then(() => {
          if (count > 1) remove(count - 1)
          else resolve()
        })
    }
    
    remove(amount)
  })
}


init()
</script>
<h3> <a href="http://localhost:80/enter/{{ name }}">Enter Site</a> </h3>
</body>

</footer>
</html>
